<div class="dropdown">
  <div
    class="dropdown-header"
    role="combobox"
    tabindex="0"
    aria-haspopup="listbox"
    [attr.aria-expanded]="isOpen()"
    [attr.aria-controls]="'dropdown-panel'"
    [attr.aria-activedescendant]="activeItemId"
    (click)="toggle()"
  >
    <span>{{ getHeaderLabel() }}</span>
    <span class="arrow">▼</span>
  </div>
  @if (isOpen()) {
  <div
    class="dropdown-panel"
    role="listbox"
    id="dropdown-panel"
    [attr.aria-multiselectable]="mode === 'multi'"
  >
    @if (enableSearch) {
    <input type="text" [formControl]="searchControl" placeholder="Поиск..." aria-label="Поиск" />
    } 
    @if (!groups.length) { 
      @for (item of filteredItems(); track item.value; let i = $index) {
        <div
          class="dropdown-item"
          role="option"
          [id]="'option-' + item.value"
          [attr.aria-selected]="isSelected(item.value)"
          (click)="select(item)"
          [class.selected]="isSelected(item.value)"
          [class.active]="i === activeIndex()"
        >
          {{ item.label }}
        </div>
    } 
  }
      @if (groups.length) {
        @for (group of filteredGroups(); track group.value) {
            <div
              class="dropdown-group-label"
              role="group"
              [attr.aria-label]="group.label"
              [class.disabled]="group.disabled"
            >
              {{ group.label }}
            </div>
            @for (item of group.items; track item.value) {
              <div
                class="dropdown-item"
                role="option"
                [id]="'option-' + item.value"
                [attr.aria-selected]="isSelected(item.value)"
                (click)="select(item, group.disabled)"
                [class.selected]="isSelected(item.value)"
                [class.disabled]="group.disabled"
                [class.active]="activeItemId === 'option-' + item.value"
              >
                {{ item.label }}
              </div>
            }
            
        }
      }
      
  </div>
  }
</div>
